<div class="head">
  <h3>UPLOAD FILE</h3>
</div>
<div class="learners-details">
  <form action="">
    <input
      type="file"
      (change)="readExcel($event)"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      class="form-control"
    />
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
      </tr>
      <tr *ngFor="let data of filelist[0]">
        <td>{{ data.LEARNERID }}</td>
        <td>{{ data.NAME }}</td>
        <td>{{ data.PROJECT }}</td>
        <td>{{ data.BATCH }}</td>
        <td>{{ data.COURSESTATUS }}</td>
      </tr>
    </table>
    <button class="addbtn" mat-button mat-dialog-close="true">ADD</button>
  </form>
</div>
