<div class="head">
  <h3>UPLOAD FILE</h3>
</div>
<div class="learners-details">
  <form action="" #uploadLearnerFiles="ngForm">
    <input
      type="file"
      (change)="readExcel($event)"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      class="form-control"
    />
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
      </tr>
      <tr *ngFor="let data of filelist[0]">
        <td >{{ data.learnerId }}</td>
        <td >{{ data.name }}</td>
        <td >{{ data.project }}</td>
        <td >{{ data.batch }}</td>
        <td >{{ data.courseStatus }}</td>
      </tr>
    </table>
    <button class="addbtn" mat-button mat-dialog-close="true" (click)="addLearner()">ADD</button>
  </form>
</div>
