<form class="trainerHead-Frm" #trainerAuthDetails="ngForm">
  <h2>TRAINER HEAD</h2>
  <div class="mb-3">
    <input type="text" name="name" [(ngModel)]="trainerAuthDetail.name" class="form-control" placeholder="Name" />
  </div>
  <div class="mb-3">
    <input type="email" name="email" [(ngModel)]="trainerAuthDetail.email" class="form-control" placeholder="Email" />
  </div>
  <div class="mb-3">
    <input type="text" disabled name="role" [(ngModel)]="trainerAuthDetail.role" class="form-control" />
  </div>
  <div class="mb-3">
    <input type="password" name="password" [(ngModel)]="trainerAuthDetail.password" class="form-control" placeholder="Password" />
  </div>
  <button mat-button class="add" mat-dialog-close="true" (click)="addTrainerHead()">ADD TRAINER HEAD</button>
</form>
