<div class="adminSettings">
  <div class="head">
    <h1>ADMIN SETTINGS</h1>
  </div>
  <div class="registerForms">
    <form class="trainerHead-Frm">
      <h2>TRAINER HEAD</h2>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Username" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <button mat-button class="add">ADD TRAINER HEAD</button>
    </form>
    <form class="placementOfficer-Frm">
      <h2>PLACEMENT OFFICER</h2>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Username" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <button mat-button class="add">ADD PLACEMENT OFFICER</button>
    </form>
  </div>
</div>
