<div class="adminSettings">
  <div class="head">
    <h1>ADMIN SETTINGS</h1>
  </div>
  <div class="Admins-details">
    <h2>TRAINER HEAD</h2>
    <form action="">
      <table>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PASSWORD</th>
        </tr>
        <tr *ngFor="let trainerAuth of trainerAuthDatas">
          <td>{{trainerAuth.name}}</td>
          <td>{{trainerAuth.email}}</td>
          <td>{{trainerAuth.password}}</td>
          <button class="update" mat-button (click)="updateTrainer(trainerAuth)">
            <mat-icon>update</mat-icon> UPDATE
          </button>
          <button class="delete" mat-button (click)="deleteTrainer(trainerAuth)">
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </tr>
      </table>
    </form>
  </div>
  <div class="Admins-details">
    <h2>PLACEMENT OFFICER</h2>
    <form action="">
      <table>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PASSWORD</th>
        </tr>
       <tr *ngFor="let placementAuth of adminAuthDatas">
          <td>{{placementAuth.name}}</td>
          <td>{{placementAuth.email}}</td>
          <td>{{placementAuth.password}}</td>
          <button
            class="update"
            mat-button
            (click)="updatePlacementOfficer(placementAuth)"
          >
            <mat-icon>update</mat-icon> UPDATE
          </button>
          <button class="delete" mat-button (click)="deletePlacementOfficer(placementAuth)">
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </tr>
      </table>
    </form>
  </div>
  <div class="addButtons">
    <button class="add" mat-button (click)="trainerFrmOpen()">
      Add Trainer Head
    </button>
    <button class="add" mat-button (click)="placementOfficerFrmOpen()">
      Add Placement Officer
    </button>
  </div>
</div>
<router-outlet></router-outlet>
