<div class="adminSettings">
  <div class="head">
    <h1>ADMIN SETTINGS</h1>
  </div>
  <div class="Admins-details">
    <h2>Trainer Head</h2>
    <form action="">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
        <tr>
          <td>sldfhkjsdfh</td>
          <td>sdlkflksdj</td>
          <td>sdfkjsdhfsdfdfds</td>
          <button class="update" mat-button (click)="trainerUpdateFrmOpen()">
            <mat-icon>update</mat-icon> UPDATE
          </button>
          <button class="delete" mat-button>
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </tr>
      </table>
    </form>
  </div>
  <div class="Admins-details">
    <h2>Placement Officers</h2>
    <form action="">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
        <tr>
          <td>wefewrtrew</td>
          <td>retgre</td>
          <td>retretretrsdfddsfsdfds</td>
          <button class="update" mat-button (click)="placementOfficerUpdateFrmOpen()">
            <mat-icon>update</mat-icon> UPDATE
          </button>
          <button class="delete" mat-button>
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </tr>
      </table>
    </form>
  </div>
  <div class="addButtons">
    <button class="add" mat-button (click)="trainerFrmOpen()">Add Trainer Head</button>
    <button class="add" mat-button (click)="placementOfficerFrmOpen()">Add Placement Officer</button>
  </div>
</div>
<router-outlet></router-outlet>