.sidenav button {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-top: 10px;
}
.menubtn {
  color: rgb(110, 110, 110);
}
.sidenav mat-divider {
  margin: 20px;
}
.sidenav mat-icon {
  font-size: 25px;
  color: rgb(241, 241, 241);
}
.sidenav span {
  padding-left: 8px;
  font-size: 15px;
  font-weight: 500;
}
.sidenav-sub-head {
  margin: 10px;
}

mat-sidenav {
  margin: 10px;
  width: 250px;
  border-right: none;
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 15px;
}

mat-sidenav-container {
  height: 100%;
  background-color: #f3f3f3;
}
