<app-dashboard-header></app-dashboard-header>
<button
    class="menubtn"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
<mat-sidenav-container >
  <mat-sidenav mode="over"  #sidenav="matSidenav" class="sidenav">
    <div class="profile">
      <i class="fa-solid fa-user"></i>
      <h4>ADMIN</h4>
    </div><br>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="dashboardContent" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span routerLink="home">Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="learnersAnalytics" routerLinkActive="active">
      <mat-icon>text_snippet</mat-icon>
      <span>Learners Analytics</span>
    </button>
    <button mat-button class="menu-button" routerLink="adminSettings" routerLinkActive="active">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Settings</span>
    </button>
    <button mat-button class="menu-button" routerLink="placements" routerLinkActive="active">
      <mat-icon>analytics</mat-icon>
      <span>Placements</span>
    </button>
    <button mat-button class="menu-button" routerLink="" >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="content-hero" style="margin-left: 0px">
    <div class="content mat-elevation-z4">
      <div class="content-head">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
