<mat-sidenav-container>
    <button
    class="menubtn"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
    <mat-sidenav mode="over" #sidenav="matSidenav" class="sidenav" >
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>dashboard</mat-icon>
        <span routerLink="home">Dashboard</span>
      </button>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>text_snippet</mat-icon>
        <span>Reports</span>
      </button>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Panel Settings</span>
      </button>
      <mat-divider></mat-divider>
      <!-- dividing line -->
      
      <span class="sidenav-sub-head">More Settings</span>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>play_arrow</mat-icon>
        <span>home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>play_arrow</mat-icon>
        <span>home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>play_arrow</mat-icon>
        <span>home</span>
      </button>
     
    </mat-sidenav>
  
    <app-dashboard-content></app-dashboard-content>
    
  </mat-sidenav-container>