
<form class="placement-frm">
    <h1>LEARNER UPDATE</h1>
    <div class="mb-3">
        <label>Learner ID</label>
       <input type="text" disabled name="learnerId" [(ngModel)]="learnerDetails.learnerId" class="form-control" >
    </div>
    <div class="mb-3">
        <label>Name</label>
       <input type="text" disabled name="name" [(ngModel)]="learnerDetails.name" class="form-control" >
    </div>
    <div class="mb-3">
        <label>Project</label>
        <select class="form-select" disabled name="project" [(ngModel)]="learnerDetails.project">
            <option selected>Project</option>
            <option value="ICTAK">ICTAK</option>
            <option value="KKEM">KKEM</option>
            <option value="NORKA">NORKA</option>
            <option value="ABCD">ABCD</option>
            <option value="KDISC">KDISC</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Batch</label>
        <select class="form-select" disabled name="batch" [(ngModel)]="learnerDetails.batch">
            <option selected>Batch</option>
            <option value="May 22">MAY 22</option>
            <option value="Jun 22">JUN 22</option>
            <option value="Jul 22">JUL 22</option>
            <option value="Aug 22">AUG 22</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Course Status</label>
        <select class="form-select" disabled name="courseStatus" [(ngModel)]="learnerDetails.courseStatus">
            <option selected>Course Status</option>
            <option value="Qualified">Qualified</option>
            <option value="Incompetent">Incompetent</option>
        </select>    
    </div>
    <div class="mb-3">
        <label>Placement Status</label>
        <select class="form-select"  name="placementStatus" [(ngModel)]="learnerDetails.placementStatus">
        <option selected>Select</option>
        <option>Placed</option>
        <option>Job Seeking</option>
        <option>Not Interested</option>
    </select>
    <button class="Add" mat-button (click)="updateLearnerPlacement()">UPDATE</button>
    </div>
</form>


