<form class="placementOfficer-Frm" #placementAuthDetails="ngForm">
  <h2>PLACEMENT OFFICER</h2>
  <div class="mb-3">
    <input type="text" name="name" [(ngModel)]="placementAuthDetail.name" class="form-control" placeholder="Name" />
  </div>
  <div class="mb-3">
    <input type="email" name="email" [(ngModel)]="placementAuthDetail.email" class="form-control" placeholder="Email" />
  </div>
  <div class="mb-3">
    <input type="password" name="password" [(ngModel)]="placementAuthDetail.password" class="form-control" placeholder="Password" />
  </div>
  <button mat-button class="add" mat-dialog-close="true" (click)="addPlacementOfficer()">ADD PLACEMENT OFFICER</button>
</form>
