<div class="head">
  <h1>LEARNERS ANALYTICS</h1>
</div>
<div class="filter">
  <select [(ngModel)]="filterProject" class="form-select" aria-label="Default select example">
    <option selected>Project</option>
    <option value="ICTAK">ICTAK</option>
    <option value="KKEM">KKEM</option>
    <option value="NORKA">NORKA</option>
    <option value="ABCD">ABCD</option>
    <option value="KDISC">KDISC</option>
  </select>
  <select [(ngModel)]="filterBatch" class="form-select" aria-label="Default select example">
    <option selected>Batch</option>
    <option value="May 22">MAY 22</option>
    <option value="Jun 22">JUN 22</option>
    <option value="Jul 22">JUL 22</option>
    <option value="Aug 22">AUG 22</option>
  </select>
  <select [(ngModel)]="filterCourseStatus" class="form-select" aria-label="Default select example">
    <option selected>Course Status</option>
    <option value="Qualified">Qualified</option>
    <option value="Incompetent">Incompetent</option>
  </select>
  <button class="update" mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
</div>
<div class="learners-details">
  <form action="">
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
      </tr>
      <tr *ngFor="let learnerData of filteredLearnerDatas">
        <td>{{learnerData.learnerId}}</td>
        <td>{{learnerData.name}}</td>
        <td>{{learnerData.project}}</td>
        <td>{{learnerData.batch}}</td>
        <td>{{learnerData.courseStatus}}</td>
        <td>
          <button class="update" mat-button (click)="updateLearner(learnerData)">
            <mat-icon>update</mat-icon> UPDATE
          </button>
        </td>
        <td>
          <button class="delete" mat-button (click)="deleteLearner(learnerData)">
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </td>
      </tr>
    </table>
    <button mat-button class="addbtn" (click)="uploadFile()"><mat-icon>description</mat-icon> UPLOAD</button>
    <button mat-button class="addbtn"(click)="addOpen()">ADD NEW</button>
  </form>
</div>
<router-outlet></router-outlet>