<div class="head">
  <h1>LEARNERS ANALYTICS</h1>
</div>
<div class="filter">
  <select class="form-select" aria-label="Default select example">
    <option selected>Project</option>
    <option value="ICTAK">ICTAK</option>
    <option value="KKEM">KKEM</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Batch</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Course Status</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <button class="update" mat-button><mat-icon>search</mat-icon></button>
</div>
<div class="learners-details">
  <form action="">
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
      </tr>
      <tr *ngFor="let learnerData of learnerDatas">
        <td>{{learnerData.learnerId}}</td>
        <td>{{learnerData.name}}</td>
        <td>{{learnerData.project}}</td>
        <td>{{learnerData.batch}}</td>
        <td>{{learnerData.courseStatus}}</td>
        <td>
          <button class="update" mat-button (click)="updateOpen()">
            <mat-icon>update</mat-icon> UPDATE
          </button>
        </td>
        <td>
          <button class="delete" mat-button>
            <mat-icon>delete</mat-icon> DELETE
          </button>
        </td>
      </tr>
    </table>
    <button mat-button class="addbtn" (click)="uploadFile()"><mat-icon>description</mat-icon> UPLOAD</button>
    <button mat-button class="addbtn"(click)="addOpen()">ADD NEW</button>
  </form>
</div>
<router-outlet></router-outlet>