.login-frm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  font-size: 100px;
  width: auto;
  height: auto;
  color: rgb(54, 9, 92);
}
form {
  background-image: url(../../../assets/images/bg.png);
  padding: 90px 190px;
  border-radius: 5px;
  text-align: center;
}
small {
  color: rgb(206, 5, 5);
  font-weight: 600;
}
button {
  background-color: rgb(43, 7, 77);
  color: #fff;
  padding: 5px 30px;
}
button:hover {
  background-color: rgb(49, 6, 88);
  color: aliceblue;
}
button[disabled] {
  background-color: rgb(43, 7, 77);
}
