<div class="head">
  <h1>PLACEMENTS</h1>
</div>
<div class="filter">
  <select class="form-select" aria-label="Default select example">
    <option selected>Project</option>
    <option value="opel">ICTAK</option>
    <option value="audi">KKEM</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Batch</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Course Status</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <button class="search" mat-button><mat-icon>search</mat-icon></button>
</div>
<div class="learners-details">
  <form action="">
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
        <th>PLACEMENT STATUS</th>
      </tr>
      <tr *ngFor="let learnerData of learnerDatas">
        <td>{{ learnerData.learnerId }}</td>
        <td>{{ learnerData.name }}</td>
        <td>{{ learnerData.project }}</td>
        <td>{{ learnerData.batch }}</td>
        <td>{{ learnerData.courseStatus }}</td>
        <td>{{learnerData.placementStatus}}</td>
        <td><button mat-button class="update" (click)=" updateLearnerPlacement(learnerData)" >CHANGE STATUS</button></td>
      </tr>
    </table>
  </form>
</div>

