<form class="placementOfficer-Frm">
  <h2>PLACEMENT OFFICER<br>UPDATE</h2>
  <div class="mb-3">
    <input type="text" name="name" [(ngModel)]="placementOfficerAuthDetails.name" class="form-control" placeholder="Name" />
  </div>
  <div class="mb-3">
    <input type="email" name="email"  [(ngModel)]="placementOfficerAuthDetails.email" class="form-control" placeholder="Email" />
  </div>
  <button mat-button mat-dialog-close="true" class="add" (click)="updatePlacementOfficer()">UPDATE</button>
</form>
