<div class="head">
  <h1>DASHBOARD</h1>
</div>
<div class="learners-details">
  <form action="">
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
        <th>PLACEMENT STATUS</th>
      </tr>
      <tr *ngFor="let learnerdata of learnerDatas">
        <td>{{ learnerdata.learnerId }}</td>
        <td>{{ learnerdata.name }}</td>
        <td>{{ learnerdata.project }}</td>
        <td>{{ learnerdata.batch }}</td>
        <td>{{ learnerdata.courseStatus }}</td>
        <td>{{ learnerdata.placementStatus }}</td>
      </tr>
    </table>
  </form>
</div>
