<div class="head">
  <h1>DASHBOARD</h1>
</div>
<div class="learners-details">
  <form action="">
    <table>
      <tr>
        <th>LEARNER ID</th>
        <th>NAME</th>
        <th>PROJECT</th>
        <th>BATCH</th>
        <th>COURSE STATUS</th>
        <th>PLACEMENT STATUS</th>
      </tr>
      <tr>
        <td>1001</td>
        <td>Maria Anders</td>
        <td>ICTAK</td>
        <td>May 22</td>
        <td>Qualified</td>
        <td>placed</td>
      </tr>
      <tr>
        <td>1001</td>
        <td>Francisco Chang</td>
        <td>KKEM</td>
        <td>June 22</td>
        <td>Incompetent</td>
        <td>placed</td>
      </tr>
      <tr>
        <td>1002</td>
        <td>Roland Mendel</td>
        <td>NORKA</td>
        <td>July 22</td>
        <td>Qualified</td>
        <td>placed</td>
      </tr>
      <tr>
        <td>1003</td>
        <td>Helen Bennett</td>
        <td>ABCD</td>
        <td>May 22</td>
        <td>Incompetent</td>
        <td>placed</td>
      </tr>
      <tr>
        <td>1004</td>
        <td>Yoshi Tannamuri</td>
        <td>KDISE</td>
        <td>August 22</td>
        <td>Incompetent</td>
        <td>placed</td>
      </tr>
      <tr>
        <td>1005</td>
        <td>Giovanni Rovelli</td>
        <td>KKEM</td>
        <td>April 22</td>
        <td>Qualified</td>
        <td>placed</td>
      </tr>
    </table>
  </form>
</div>
