<div class="addfrm">
    <h1>ADD CANDIDATE</h1>
    <form>
        <div class="mb-3">
           <input type="text" class="form-control" placeholder="Learner ID" required="required">
        </div>
        <div class="mb-3">
           <input type="text" class="form-control" placeholder="Name" required="required">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Project" required="required">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Batch" required="required">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Course Status" required="required">
        </div>
        <button class="addbtn" mat-button>ADD</button>
    </form>
</div>